<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="../../../../assets/imgs/HotelHome.jpg" width="250" height="100" class="d-inline-block align-mid" alt="">
    {{hotelName}}
  </a>

  <a class="navbar-brand">Módulo Administrativo</a>

  <div>
    <a class="navbar-brand" style="align-items: end;">
      <img src="../../../../assets/img/user.png" width="50" height="50" class="d-inline-block align-mid" alt="">
    </a>

    <a class="navbar-brand">Bienvenido {{username}}</a>
    <a routerLink="" class="nav-item">Salir</a>
  </div>


</nav>
