<div class="container">

  <div class="header"><app-header-home [username]="username"></app-header-home></div>

  <div class="lateral-menu"><app-lateral-menu [username]="username"></app-lateral-menu></div>

  <div class="information">
    <div class="overflow-auto">
      <h2>Modificar Páginas</h2>
      <p>Seleccione la página que desea modificar</p>
      <ul class="ps-4 pe-4" style="list-style-type: none;">
        <li>
          <a routerLink="/modify-home" (click)="routerHome()">Inicio</a>
        </li>
        <li>
          <a routerLink="/modify-about-us" (click)="routerAboutUs()">Sobre Nosotros</a>
        </li>
        <li>
          <a routerLink="/modify-ubication" (click)="routerUbication()">Cómo llegar</a>
        </li>
        <li>
          <a routerLink="/modify-contact-us" (click)="routerContactUs()">Contáctenos</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="area-publicity"><app-area-publicity></app-area-publicity></div>

  <div class="footer"><app-footer></app-footer></div>

</div>
