<div class="container">

  <div class="header"><app-header-home></app-header-home></div>

  <div class="lateral-menu"><app-lateral-menu></app-lateral-menu></div>

  <div class="information">
    <h2>Modificar Páginas</h2>
    <div class="overflow-auto" style="max-width: 1000px; max-height: 640px;">

      <h3>Home</h3>

      <form>

        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"
          style="resize: none; text-align: justify;">{{information}}</textarea>
        <br>

        <div class="information d-flex">

          <img class="img-fluid" src="{{imageHotel}}" width="400" height="200" alt="Imagen del Hotel 5 Rosas">

          <div class="information d-flex">
            <form class="form-example" enctype="multipart/form-data">
              <div class="form-example" style="padding-left: 10px; width: 490px; margin-top: 70px;">
                <label for="email" class="col-form-label">Subir nueva imagen: </label>
                <br>
                <input type="text" style="width: 60%; border-radius: 0.25rem; border: 1px solid #ced4da">
                <button type="file" class="btn btn-outline-primary" style="margin-left: 10px;">Buscar</button>
              </div>
            </form>
          </div>

        </div>

        <br>


        <div style="margin-left: 800px;">
          <button type="submit" class="btn btn-outline-primary" style="margin-right: 10px;">Aceptar</button>
          <button type="reset" class="btn btn-outline-primary">Cancelar</button>
        </div>


      </form>

    </div>
  </div>

  <div class="area-publicity"><app-area-publicity></app-area-publicity></div>

  <div class="footer"><app-footer></app-footer></div>

</div>
