<div class="container">


    <div class="header"><app-header-home [username]="username"></app-header-home></div>
  
  
    <div class="lateral-menu"><app-lateral-menu [username]="username"></app-lateral-menu></div>
  
  
    <div class="information">
      <div class="overflow-auto" style="max-width: 1000px; max-height: 640px;">
        <h1> Experiencias de los Usuarios </h1>
  
  
        <div>
          <div class="border border-1 p-3 m-3 rounded-3 border-dark">
            <div class="d-flex justify-content-between pb-2 border-bottom border-2">
              <div class="d-flex">
                <span class="ps-3">
                  <h3 class="fw-bold">Marco Martines C.</h3>
                  <h4>Experiencia:
                    <span class="text-primary">Una estancia inolvidable. Las instalaciones son impresionantes, la atención del personal es excepcional y la vista desde las habitaciones es simplemente espectacular. ¡No puedo esperar para regresar!</span>
                  </h4>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="border border-1 p-3 m-3 rounded-3 border-dark">
            <div class="d-flex justify-content-between pb-2 border-bottom border-2">
              <div class="d-flex">
                <span class="ps-3">
                  <h3 class="fw-bold">Lusia Aguirre L.</h3>
                  <h4>Experiencia:
                    <span class="text-primary">Un lugar perfecto para relajarse. Las habitaciones son elegantes y cómodas, el spa es de primera clase y la comida en el restaurante es deliciosa. Ideal para escapar del ajetreo y el bullicio de la ciudad.</span>
                  </h4>
                </span>
              </div>
            </div>
          </div>
        </div><div>
          <div class="border border-1 p-3 m-3 rounded-3 border-dark">
            <div class="d-flex justify-content-between pb-2 border-bottom border-2">
              <div class="d-flex">
                <span class="ps-3">
                  <h3 class="fw-bold">Karla Aguilar</h3>
                  <h4>Experiencia:
                    <span class="text-primary">Una joya junto al mar. La ubicación es inmejorable, con acceso directo a la playa. Las habitaciones son acogedoras y limpias, y el personal es amable y servicial. Definitivamente, un lugar para descansar y disfrutar del sonido de las olas.</span>
                  </h4>
                </span>
              </div>
            </div>
          </div>
        </div><div>
          <div class="border border-1 p-3 m-3 rounded-3 border-dark">
            <div class="d-flex justify-content-between pb-2 border-bottom border-2">
              <div class="d-flex">
                <span class="ps-3">
                  <h3 class="fw-bold">Rober Monge C.</h3>
                  <h4>Experiencia:
                    <span class="text-primary">Una experiencia excepcional en el corazón de la ciudad. La decoración moderna y las comodidades de este hotel son impresionantes. La ubicación céntrica facilita la exploración de la ciudad, y el personal se esfuerza por hacer que tu estancia sea inolvidable.</span>
                  </h4>
                </span>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  
  
    <div class="area-publicity"><app-area-publicity></app-area-publicity></div>
  
  
    <div class="footer"><app-footer></app-footer></div>
  
  
  </div>
  
  
  
  