<div class="container">

  <div class="header"><app-header-home [username]="username"></app-header-home></div>

  <div class="lateral-menu"><app-lateral-menu [username]="username"></app-lateral-menu></div>

  <div class="information">
    <div class="overflow-auto" style="max-width: 1000px; max-height: 640px;">
      <h1> Crear Temporada </h1>

      <form [formGroup]="seasonForm">

        <label for="basic-url" class="form-label">Nombre</label>
        <div class="input-group mb-3">
          <input id="nameSeason" class="form-control" type="text" formControlName="nameSeason" />
        </div>

        <label for="basic-url" class="form-label">Fecha Inicio</label>
        <div class="input-group mb-3">
          <input id="seasonBeginDate" class="form-control" type="datetime-local" formControlName="seasonBeginDate"/>
        </div>

        <label for="basic-url" class="form-label">Fecha Fin</label>
        <div class="input-group mb-3">
          <input id="seasonEndDate" class="form-control" type="datetime-local" formControlName="seasonEndDate">
        </div>


        <div class="col-12">
          <button type="submit" class="btn btn-outline-primary" (click)="addSeason()">Aceptar</button>
        </div>
      </form>

    </div>
  </div>

  <div class="area-publicity"><app-area-publicity></app-area-publicity></div>

  <div class="footer"><app-footer></app-footer></div>

</div>

