<div class="container">

  <div class="header"><app-header-home [username]="username"></app-header-home></div>

  <div class="lateral-menu"><app-lateral-menu [username]="username"></app-lateral-menu></div>

  <div class="information">
    <h2>Modificar Facilidades</h2>

    <div class="overflow-auto" style="max-width: 1000px; max-height: 600px;">

      <li *ngFor="let facility of facilities;" class="d-flex">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img width="300" height="250"
              src={{facility.imagen}} alt='Imagen de la facilidad {{facility.name}}'>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title fw-bold">{{facility.nombre}}</h3>
                <p class="card-text" style="text-align: justify;">{{facility.descripcion}}</p>
                <a class="card-link" (click)="editFacility(facility.pK_Facilidad)">Editar</a>
                <a class="card-link" (click)="deleteFacility()">Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </li>

    </div>
    </div>

  <div class="area-publicity"><app-area-publicity></app-area-publicity></div>

  <div class="footer"><app-footer></app-footer></div>

</div>

