<div class="container">

  <div class="header"><app-header-home [username]="username"></app-header-home></div>

  <div class="lateral-menu"><app-lateral-menu [username]="username"></app-lateral-menu></div>

  <div class="information">

    <div class="overflow-auto" style="max-width: 1000px; max-height: 640px;">
      <h1>Modificar Facilidades<a routerLink="" (click)="routerFacilityCreate()" style="padding-left: 20px;">Crear
          Facilidad</a></h1>

      <div *ngFor="let facility of facilities;">
        <div class="border border-1 p-3 m-3 rounded-3 border-dark">
          <div class="d-flex justify-content-between pb-2 border-bottom border-2">
            <div class="d-flex">
              <img class="img-fluid rounded-3" src="{{facility.imagen}}" alt="Imagen Facilidad" width="150"
                height="150">
              <span class="ps-3">
                <h3 class="fw-bold">{{facility.nombre}}</h3>
                <h4>
                  <span class="text-primary">
                    {{facility.descripcion}}</span>
                </h4>
              </span>
            </div>
            <span class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary me-3"
                (click)="editFacility(facility.pK_Facilidad)">Editar</button>
              <button type="button" class="btn btn-danger"
                (click)="deleteFacility(facility.pK_Facilidad)">Eliminar</button>
            </span>
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="area-publicity"><app-area-publicity></app-area-publicity></div>

  <div class="footer"><app-footer></app-footer></div>

</div>
