<div class="container">

  <div class="header"><app-header-home [username]="username"></app-header-home></div>

  <div class="lateral-menu"><app-lateral-menu [username]="username"></app-lateral-menu></div>

  <div class="information">
    <div class="overflow-auto" style="max-width: 1000px; max-height: 640px;">
      <h1>Administrar Habitaciones <a routerLink="" (click)="routerCreatePublicity()" style="padding-left: 20px;">Crear
          Habitación</a></h1>

      <div *ngFor="let publicity of publicity;">
        <div class="border border-1 p-3 m-3 rounded-3 border-dark">
          <div class="d-flex justify-content-between pb-2 border-bottom border-2">
            <div class="d-flex">
              <span class="ps-3">
                <h3 class="fw-bold">Número de habitación: {{publicity.pK_Habitacion}}</h3>
                <h4>Tipo habitación:
                  {{publicity.nombre}}
                </h4>
                <div class="d-flex">
                  <h4 class="text-center fw-bold text-white"
                    [ngClass]="{'bg-success': publicity.estado_Del_Dia == 'Utilizable', 'bg-danger': publicity.estado_Del_Dia != 'Utilizable'}">
                    {{ publicity.estado_Del_Dia}}
                  </h4>
                </div>
              </span>
            </div>
            <span class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary me-3"
                (click)="goEdit(publicity.pK_Habitacion, publicity.nombre, publicity.estado_Del_Dia)">Editar</button>
              <button type="button" class="btn btn-danger" (click)="goDelete(publicity.pK_Habitacion)">Eliminar</button>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="area-publicity"><app-area-publicity></app-area-publicity></div>

  <div class="footer"><app-footer></app-footer></div>

</div>
