<div class="container">


    <div class="header"><app-header-home [username]="username"></app-header-home></div>
  
  
    <div class="lateral-menu"><app-lateral-menu [username]="username"></app-lateral-menu></div>
  
  
    <div class="information">
      <div class="overflow-auto" style="max-width: 1000px; max-height: 640px;">
        <h1>Administrar Empleados <a routerLink="" style="padding-left: 20px;"> Agregar
            Empleado </a></h1>
  
  
        <div>
          <div class="border border-1 p-3 m-3 rounded-3 border-dark">
            <div class="d-flex justify-content-between pb-2 border-bottom border-2">
              <div class="d-flex">
                <img class="img-fluid rounded-3" src="../../../../assets/img/noimage.jpg" alt="Image Room" width="150" height="150">
                <span class="ps-3">
                  <h3 class="fw-bold"> Marta Almendares O. </h3>
                  <h4> Rol:
                    <span class="text-primary"> Gerente </span>
                  </h4>
                  <h4> Desempeño:
                    <span class="text-primary"> Malo </span>
                  </h4>
                  <h4> Salario Mensual:
                    <span class="text-primary"> $1000 </span>
                  </h4>
                </span>
              </div>
              <span class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary me-3">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </span>
            </div>
          </div>
        </div>
  
  
        <div>
          <div class="border border-1 p-3 m-3 rounded-3 border-dark">
            <div class="d-flex justify-content-between pb-2 border-bottom border-2">
              <div class="d-flex">
                <img class="img-fluid rounded-3" src="../../../../assets/img/noimage.jpg" alt="Image Room" width="150" height="150">
                <span class="ps-3">
                  <h3 class="fw-bold"> Andrea Vargas F. </h3>
                  <h4>Rol:
                    <span class="text-primary"> Conserje </span>
                  </h4>
                  <h4> Desempeño:
                    <span class="text-primary"> Bueno </span>
                  </h4>
                  <h4> Salario Mensual:
                    <span class="text-primary"> $500 </span>
                  </h4>
                </span>
              </div>
              <span class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary me-3">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </span>
            </div>
          </div>
        </div>
  
  
  
  
      </div>
    </div>
  
  
    <div class="area-publicity"><app-area-publicity></app-area-publicity></div>
  
  
    <div class="footer"><app-footer></app-footer></div>
  
  
  </div>
  
  
  
  