<nav class="sidebar">

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link" routerLink="/home-page" (click)="routerHome()"> Home </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/modify-page" (click)="routerModifyPages()"> Modificar Páginas </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/manage-season" (click)="routerManageFacilities()"> Administrar Facilidades </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/reservations-list" (click)="routerReservationList()"> Listado de reservaciones
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/manage-season" (click)="routerManageNormalRooms()"> Administrar Habitaciones </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/manage-rooms" (click)="routerManageRooms()"> Administrar Tipo Habitaciones y
        Habitaciones </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/manage-season" (click)="routerManageSeasons()"> Administrar Temporadas </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/manage-season" (click)="routerManagePromotions()"> Administrar Ofertas </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/hotel-today" (click)="routerTodayHotel()"> Ver estado del hotel hoy </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/consult-rooms" (click)="routerConsultRooms()"> Consultar disponibilidad de
        habitaciones </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/contact-us" (click)="routerPublicity()"> Publicidad </a>
    </li>

  </ul>
  <br>
</nav>